img.meta-trademark {
    width: 20%;
}

#token-lists {

}

#token-lists div.token:nth-child(even) {
    background: #f5f5f5;
}

#token-lists div.token {
    cursor: pointer;
}

.sortby {
    font-weight: 300;
    cursor: pointer;
}

.token-icon {
    width: 28px;
    height: 28px;
}

.download-metamask {
    height: 30%;
    cursor: pointer;
    width: 70%;
    margin: auto;
}

.is-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-body{
    padding: 10px 10px;
    margin: 0 auto;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 600px;
}

.full-width{
    width: 100%;
}

.centered-button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.back-button{
    margin: 10px 0;
}

.flex{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.margin-y{
    margin: 10px 0;
}